<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Planificador  </title>
</head>
<body>

    <form action="/resultado", method="post">
        
        <input type="text" name="nombre" > <br>
        <input type="date" name="fecha"> <br>
        <input type="checkbox" id="confirmar_fecha" name="confirmar_fecha" value="Si">
        <!-- <label for="confirma-fecha"> Si </label> <br> -->

        <input type="submit" value="Enviar">      

    </form>
    
</body>
</html>