<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Planificador  </title>
</head>
<body>

    <!-- <form action="/resultado", method="post"> -->
    <form method="POST" action="/"> 
        <h2> Selecciona la fecha de ensayo</h2>
        <input type="date" name="fecha"> <br>
        <input type="submit" value="Enviar">      

    </form>
    
    <h2> Fechas seleccionadas: </h2>

      <table>
        <tr>
          <th>Fecha</th>
          <th>Eliminar</th>
          
        </tr>
        {% for ensayo in fechas %}
        <tr>
          <td> {{ ensayo }} </td>
          <td> Eliminar </td>
          
        </tr>
        {% endfor %}
      </table>

      <form>
        <input type="submit" value="Guardar fechas y continuar">
      </form>


</body>
</html>